body {
  font-family: Garamond, serif;
  background-color: #F1F1F1;
}

.header {
  background-color: #8AB8F4;
  color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
}

.column.main {
  width: 75%;
}

.column.side {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
